.projects {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .projects h1{
      text-align: center;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.2rem;
  }
  .projects__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  
  .projects__item {
    position: relative;
    border-bottom: 5px solid #ff652f;
    overflow: hidden;
  }
  
  .projects__item img {
    width: 100%;
  }
  
  .projects__item::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%; 
    width: 100%;
    background: #ff652f;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .projects__item:hover::after {
    top: 0;
    opacity: 0.9;
  }
  
  .projects__item:hover .projects__btn {
    opacity: 1;
  }
  .projects__btns {
    margin-left: -1rem;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .projects__btn {
    margin-top: 20%;
    font-size: .8rem;
    opacity: 0;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .projects__btn:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .inline-photo {
    /* border: 1em solid #fff;
   border-bottom: 4em solid #fff;
   border-radius: .25em; */
   /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
   /* margin: 2em auto;  */
   opacity: 1;
   transform: translateY(-1em);
   transition: transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
   max-width: 600px;
   width: 100%;
   will-change: transform, opacity;
  }
  
  .projects .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .projects footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem);
  }