.home {
    height: 100%;
    padding-top: 10vh;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: -webkit-gradient(white);
    background: linear-gradient(white);
    
  }
  
  .home__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
  }
  
  .home__name--last {
    color: seagreen;
    font-weight: 700;
  }