.about {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
  .about__bio-image {
    height: 30vh;
    width: 100%;
    background: -webkit-gradient(white);
    background: linear-gradient(white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .about__bio-image p {
    margin-bottom: 2rem;
  }
  
  .about__bio {
    width: 80%;
    text-align: center;
  }
  
  .about__bio .text-secondary {
    padding-bottom: 1rem;
    color: white;
    font-weight: bold;
  }

  .jobs__job h2{
      text-align: center;
      color: white;
      font-weight: bold;
  }
  .jobs__job h3{
      font-size: 1.2rem;
      font-style: italic;
  }
  .jobs__job h6{
      font-size: 1.1rem;
  }
  .jobs__job p{
      font-size: 1rem;
  }
  
  .about .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
    color: white;
  }
  
  .about .jobs__job {
    background: seagreen;
    padding: 0.5rem;
    border-bottom: 5px solid #ff652f;
  }
  
  .about .jobs__job h2, .about .jobs__job h3 {
    margin: 0.5rem 0;
    color: white;
  }
  
  .about .jobs__job h6 {
    margin: 0.3rem 0;
  }
  .about .jobs__job p {
    text-align: justify;
  }
  
  .about .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .about footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem);
  }